<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/createdb_styles.css">
    <title>Create DataBase</title>
</head>
<body>
    
    <div class="square">
        <h1 class="title">Create Database!</h1>
        <div class="container">
        <h2 class="dbname">Database name:</h2>
        <input type="text" name="name" id="name">  
        <h2 class="host">Host:</h2>
        <input type="tel" name="host" id="host"> 
        <h2 class="port">Port:</h2>
        <input type="tel" name="puerto" id="porrrt">
        </div>
        <div class="botones"></div>
        <button class="cancel">Cancel</button>
        <button class="accept">Accept</button>
    </div>
    
</body>
</html>
