<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/createdb_styles.css">
    <title>Create DataBase</title>
</head>
<body>
    
    <div class="square">
        <h1>Create Database!</h1>

        <form action="/crearNuevaDb" method="post" class="crearDb container">

            <div class="panelInput">
                <label class="dbname">Database name:</label>
                <input autofocus class="inputt" type="text" name="name" id="name" placeholder="new_database" required>  
            </div>

            <div class="panelInput">
                <label class="host">Host:</label>
                <input class="inputt" type="text" name="host" id="host" placeholder="192.168.0.222" value="127.0.0.1" required> 
            </div>

            <div class="panelInput">
                <label class="port">Port:</label>
                <input class="inputt" type="tel" name="puerto" id="porrrt" placeholder="3306" value="222" required> 
            </div>

            <div class="botones">
            <a href="/letsCreate" class="cancel">Cancel</a>
            <button type="submit" class="accept">Accept</button>
            </div>

        </form>
    </div>
    
</body>
</html>
