<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/createDB_styles.css">
    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
    <title>Create DataBase</title>
</head>
<body>
    
    <div class="square">
        <h1>Create Database!</h1>

        <form action="/crearNuevaDb" method="post" class="crearDb container">

            <div class="panelInput">
                <label class="dbname">Database name:</label> 
                <input autofocus type="text" name="nombre" id="nombre" placeholder="new_database" required>
                
                <div class="marks">
                <i class="fa-solid fa-xmark ocultar xmarkErrorNombre"></i>
                <i class="fa-solid fa-check checkMarkNombre ocultar"></i>  
                </div>
                
                <span class="errorNombre ocultar"><strong>Nombre invalido no agregues espacios</strong></span>

                <div class="botones">
                    <button type="submit" class="accept">Accept</button>
                    <a href="/letsCreate" class="cancel">Cancel</a>
                </div>
            </div>    

        </form>
    </div>

    
        <div class="contenedor">
                <% if (databases && databases.length > 0) { %> <!-- Verifica que databases tenga elementos -->
                    <% databases.forEach(function(db) { %>
                        <div class="database-item">
                            <div class="database-item_box">
                                <span class="database-item_name">
                                    <%= db.Database %> <!-- Asegúrate de que el nombre de la propiedad sea correcto -->
                                </span>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    No hay bases de datos disponibles. <!-- Mensaje en caso de que no haya bases de datos -->
                <% } %>
        </div>

    <script src="/js/crearDB_Validacion.js"></script>
</body>
</html>
