<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logIn</title>
    <link rel="stylesheet" href="/css/login_styles.css">
    <!-- Incluye Font Awesome para los iconos -->
</head>
<body>
    <div class="login-container">
        <div class="Panel">
            <div class="icon">
                <img src="img/logSignPorfile.svg" alt="Icon">
            </div>
            <form action="/agregarUsuario" method="post" id="login-form">

                <h2>LOGIN</h2>

                <div class=input_table>

                    <div class="labelDiv labelUP">
                        <label class="label" for="name">Nombre:</label> <span class="errorNombreUsuario ocultar">Nombre invalido usa mayúsculas y minusculas.</span>
                        <input autofocus name="nombre" id="nombre" type="text" placeholder="Ingresa tu Nombre" required>
                    </div>

                    <div class="labelDiv labelUP">
                        <label class="label" for="e-mail">Correo electrónico:</label> <span class="errorNombreUsuario ocultar">Correo invalido</span>
                        <input name="correo" id="correo" type="text" placeholder="Ingresa tu Correo electrónico" required>
                    </div>
                
                    <div class="labelDiv">
                        <label class="label" for="username">Usuario:</label> <span class="errorNombreUsuario ocultar">Nombre de Usuario invalido</span>
                        <input name="nombreUsuario" id="nombreUsuario" type="text" placeholder="Ingresa un nombre de usuario" required>
                    </div>                    

                    <div class="labelDiv">
                        <label class="label" for="username">Contraseña:</label> <span class="errorNombreUsuario ocultar">Nombre de Usuario invalido</span>
                        <input name="password" id="password" type="password" placeholder="Ingresa una contraseña" required>
                    </div>

                </div>
                <button type="submit">REGISTRARSE</button>
            </form>
            <small>¿Ya tienes una cuenta? <a href="/signIn">Inicia sesión</a>.</small>
        </div>
    </div>
           
</body>
</html>
