<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
</head>
<body>
    <h1>SIGN IN</h1>
    <div id="container">
        <img src="" alt="">
        <input type="text">
        <input type="text">
        <button>SIGN  IN</button>
    </div>
</body>
</html>