<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logIn</title>
    <link rel="stylesheet" href="/css/login_styles.css">
    <link rel="icon" href="/img/logSignPorfile.svg" type="image/x-icon">

    <!-- Incluye Font Awesome para los iconos -->
</head>
<body>
    <div class="login-container">
        <div class="Panel">
            <div class="icon">
                <img src="img/logSignPorfile.svg" alt="Icon">
            </div>
            <form action="/CrearAcceso" method="post" id="login-form">

                <h2>CREAR NUEVO ACCESO</h2>

                <div class=input_table>

                    <div class="labelDiv labelUP">
                        <label class="label" for="name">Nombre:</label> <span class="errorNombreUsuario ocultar">Nombre invalido usa mayúsculas y minusculas.</span>
                        <input autofocus name="nombre" id="nombre" type="text" placeholder="Ingresa tu Nombre" required>
                    </div>

                    <div class="labelDiv labelUP">
                        <label class="label" for="t-acceso">Tipo de acceso:</label> 
                            <select name="tipoAcceso" id="selectAcceso">
                                <option value="ADMIN">ADMIN</option>
                                <option value="GUEST">Invitado</option>
                            </select>                    
                    </div>
    

                    <div class="labelDiv">
                        <label class="label" for="username">Usuario:</label> <span class="errorNombreUsuario ocultar">Nombre de Usuario invalido</span>
                        <input name="nombreUsuario" id="nombreUsuario" type="text" placeholder="Ingresa un nombre de usuario" required>
                    </div>                    

                    <div class="labelDiv">
                        <label class="label" for="username">LLave:</label> <span class="errorNombreUsuario ocultar">Nombre de Usuario invalido</span>
                        <input name="key" id="password" type="password" placeholder="Ingresa una contraseña" required>
                    </div>

                </div>
                <button type="submit">crear acceso</button>
            </form>
        </div>
    </div>
           
</body>
</html>
