<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/selectDB_styles_usu.css">
    <link rel="icon" href="/img/logSignPorfile.svg" type="image/x-icon">

    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
    <title>Create DataBase</title>
</head>
<body>
    <iframe src="https://assets.pinterest.com/ext/embed.html?id=492649952031909" ></iframe>


    <h1>SELECT DATABASE!</h1>

    
    <div class="contenedor">
        <% if (databases && databases.length > 0) { %> <!-- Verifica que databases tenga elementos -->
            
            <% databases.forEach(function(db) { %>
                <div class="database-item">
                    <div class="database-item_box">
                        
                        <span class="database-item_name">
                            <strong><%= db.Database %></strong> <!-- Asegúrate de que el nombre de la propiedad sea correcto -->
                        </span>

                        <div class="database-item_action">
                            <form action="/editarDB" method="POST">
                                <input type="hidden" name="nombre" value="<%= db.Database %>">
                                <button type="submit" id="editar" class="btn TabAction">consultar</button>
                            </form>

                        </div>

                    </div>
                </div>
            <% }); %>
        <% } else { %>
            No hay bases de datos disponibles. <!-- Mensaje en caso de que no haya bases de datos -->
        <% } %>
    </div>

    <!-- <div class="video-cpntainer">
        <video autoplay >
            <source src="/img/selectDB.mp4" type="video/mp4">
        </video>
    </div> -->

    <script src="/js/crearDB_Validacion.js"></script>
</body>
</html>
