<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes</title>
    <link rel="stylesheet" href="desplegar-tablas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pricing-container">
        <h1>MY TABLES</h1>
        <div class="pricing-plan most-popular">
            <h2>"LADRE Y LADRE"</h2>
            <p>Este es un ejemplo de tabla</p>
            <div class="price">route: 3360</div>
            <p class="note">Erick Te amo </p>
            <button>Abrir</button>
        </div>
        <div class="pricing-plan">
            <h2>EJEMPLO TABLA 2</h2>
            <p>Este es un ejemplo de tabla 2</p>
            <div class="price">route: 3360</div>
            <button>Abrir</button>
        </div>
        <div class="pricing-plan">
            <h2>EJEMPLO TABLA 3</h2>
            <p>Este es un ejemplo de tabla 3</p>
            <div class="price">route: 3360</div>
            <button>Abrir</button>
        </div>
        <div class="extra-options">
            <div class="option">
                <h3>Editar</h3>
                <p>Edita tus tablas</p>
                <button>Edit</button>
            </div>
            <div class="option">
                <h3>Usuario</h3>
                <p>¿No eres administrador? Accede como usuario</p>
                <button>Acceder</button>
            </div>
            <div class="option">
                <h3>Salir</h3>
                <p>Crea una nueva DB</p>
                <button>Crear</button>
            </div>
        </div>
    </div>
</body>
</html>