<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn</title>
    <link rel="stylesheet" href="/css/signIn_styles.css">
    <!-- Incluye Font Awesome para los iconos -->
</head>
<body>
    <div class="login-container">
        <div class="Panel">
            <div class="icon">
                <img src="img/logSignPorfile.svg" alt="Icon">
            </div>
        <form class="login-form">
            <h2>SIGN IN</h2>
            
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" required>
            </div>
            <button type="submit">SIGN IN</button>
        </form>
        <small>¿No tienes una cuenta? <a href="/logIn">registrate</a>.</small>
    </div>
</div>
           
</body>
</html>
