<%- include('Templates/header') %>
    <link rel="stylesheet" href="/css/SignIn_estilos.css">
    <title>Sign in</title>
</head>
<body>
        <h1>SIGN IN</h1>
    <div id="SigInContainerRelative"> 

        <div id="signInContainerAbsolute">
            <div class="PanelInput">
                <img  class="imgDeInputs" src="/img/profile-userTBIB.png" alt="SignInPorfileImg">
                <input type="text" placeholder="Nombre de usuario">
            </div>
            <div class="PanelInput">
                <img class="imgDeInputs" src="/img/padlockTBIB.png" alt="">
                <input type="text" placeholder="*******">
            </div>

            <div id="botones">
                <a href="login.html" style=" --clr:#807FFE"><span>CREATE TABLES</span><i></i></a>
                <a href="#" style=" --clr:#807FFE"><span>MY TABLES</span><i></i></a>
            </div>
            
            <img id="PorfileImgCenter" src="/img/logSignPorfile.svg" alt="PorfileImgCenter">

        </div>
    </div>


</body>
</html>