 <%- include('Templates/header') %>

    <link rel="stylesheet" href="/css/wellcome_estilos.css">
    <title>Wellcome To TBIB</title>
</head>
<body>

    <div id="container">
    
        <h1>WELCOME TO TBIB</h1>
        
        <div id="txtBienvenido">
            <p>¡Bienvenido a nuestra Base de Datos! Gestiona y accede a información de
                manera eficiente. Aquí, encontrarás herramientas avanzadas y recursos
                valiosos para facilitar la administración de tus datos. </p>
        </div>

            
        <div id="botones">
            <a href="/signIn" style=" --clr:#807FFE"><span>Comenzar</span><i></i></a>
        </div>


        <div id="txtfoot">
            <small>¡Esperamos que disfrutes de una experiencia productiva y sin
                contratiempos!</small>
        </div>

    </div>
    <div id="img_background">
        <img id="img_heripuerco" src="/img/puerco-recortado.png" > 
    </div>

</body>
</html> 