<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logSignPorfile.svg" type="image/x-icon">



    <link rel="stylesheet" href="/css/wellcome_estilos.css">
    <title>Wellcome To TBIB</title>
</head>
<body>

    <div id="container">
    
        <h1>WELCOME TO TBIB</h1>
        
        <div id="txtBienvenido">
            <p><strong> 
                ¡Bienvenido a nuestra Base de Datos! Gestiona y accede a información de
                manera eficiente. Aquí, encontrarás herramientas avanzadas y recursos
                valiosos para facilitar la administración de tus datos. 
            </strong></p>
        </div>

            
        <div id="botones">
            <a href="/letsCreate" id="invitado" style=" --clr:#807FFE"><span><strong>Comenzar como invitado</strong></span><i></i></a>
        </div>

       

        <div id="txtfoot">
            <small><strong>
                ¡Esperamos que disfrutes de una experiencia productiva y sin
                contratiempos!
            </strong></small>
        </div>

    </div>
    <div id="img_background">
        <img id="img_heripuerco" src="/img/puerco-recortado.png" > 
        
    </div>
     <div id="boton">
            <img src="/img/TBIB-Admin.svg" id="TBIB-Admin"  alt="">
            <a href="/letsCreate"  id="botonAdmin" style=" --clr:#807FFE"><span><strong>Comenzar como Admin</strong></span><i></i></a>
     </div>

</body>
</html> 