/* Reseteo de estilos básicos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo del cuerpo del documento */
body {
    background: #0a2644;
    background-image: url(/img/createdb_background.png);
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Cuadrado */
.square {
    width: 1000px;   
    background-color: rgba(255, 255, 255, 0.187); /* Blanco con 50% de transparencia */
    border-radius: 20px; /* Ajusta el radio para redondear los bordes */
    box-shadow: 0 4px 8px rgb(255, 255, 255); /* Sombra suave para darle profundidad */
    padding: 60px; /* Espacio interno si es necesario */
    margin: 20px; /* Espacio alrededor del rectángulo */
    text-align: center; /* Centra el texto horizontalmente */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255); 
    margin-bottom: 30px;
    font-size: 30px;
}
label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-right: 17px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    gap: 20px; 
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding: 20px;
}

.panelInput{
    display: flex;
    flex-direction: row;
}

.inputt{
    border-radius: 5px;
    border: none;
    background-color: #bdc3c7;
    margin-bottom: 15px;
    outline:none; 
    font-size: 15px;
    color: rgb(0, 34, 64);
    text-align: center;
    height: 19px;
}

.cancel, .accept{
    background-color: #3884c3; /* Color de fondo */
    border: none;
    color: white;
    padding: 10px 20px; /* Ajusta el tamaño del botón si es necesario */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px; /* Bordes redondeados */
    font-family: 'Courier New', Courier, monospace;
}

.cancel:hover, .accept:hover{
    background-color: #235985; /* Color de fondo */
    color: rgb(255, 255, 255);
}


#name{
    width: 400px;
}

#host{
    width: 80px;
}

#porrrt{
    width: 80px;
}