* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #0a2644;
    background-image: url(/img/letsCreate_background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    color: white;
    margin-top: 60px;
    text-align: center;
}

.container h1 {
    color: white;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 50px;
    margin-top: 55px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container h2{
    font-size: 30px;
}

#botones {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los botones */
    font-size: 15px;
}

.button {
    background: #fff;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #160353;
    text-decoration: none;
   /* text-transform: uppercase;*/
    font-size: 1.2em;
    transition: 0.5s;
    padding: 10px 20px; 
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 170px;

}

a:hover {
    background: rgb(90, 152, 206);
    color: white;
    box-shadow: 0 0 35px rgb(103, 184, 255);
}
   

a:hover i::before{
    width: 20px;
    left: 20%;
}

/* Termina Estilo Botones */

.liniecita{
    background-color: aliceblue;
    width: 6px;
    height: 120px;
}