/* Reseteo de estilos básicos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo del cuerpo del documento */
body {
    background: #0a2644;
    background-image: url(/img/selectDBBackground_purple.jpeg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}


iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que el iframe esté detrás del contenido */
    border: none;
}
/* Cuadrado */
.square {
    width: 990px;   
    background-color: rgba(255, 255, 255, 0.187); /* Blanco con 50% de transparencia */
    border-radius: 20px; /* Ajusta el radio para redondear los bordes */
    padding: 30px; /* Espacio interno si es necesario */
    margin: 20px; /* Espacio alrededor del rectángulo */
    text-align: center; /* Centra el texto horizontalmente */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255); 
    margin-bottom: 30px;
    font-size: 40px;
}
label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-right: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    gap: 20px; 
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding: 35px;
}

.panelInput{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

input{
    border-radius: 5px;
    border: none;
    background-color: #bdc3c7;
    outline:none; 
    font-size: 15px;
    color: rgb(0, 34, 64);
    text-align: center;
    height: 19px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn{
    background-color: #3884c3; /* Color de fondo */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px; /* Bordes redondeados */
    font-family: 'Courier New', Courier, monospace;
}


.accept{
    padding: 10px 20px; 
    font-size: 15px;
}

.accept:hover{
    background-color: aqua;
}

.TabAction{
    padding: 10px 15px; 
    font-size: 13px;
}

.btn:hover{
    background-color: #235985; /* Color de fondo */
    color: rgb(255, 255, 255);
}

#eliminar:hover{
    background-color: red;
    color: aliceblue;
}

#name{
    width: 800px;
}


.errorInput{
    background-color: rgb(235, 196, 196) ;
    border: solid 2px red;
}

.correctoInput{
    background-color: rgb(178, 221, 184) ;
    border: solid 2px rgb(74, 201, 11);
}

.errorNombre{
    font-size: small;
    color: red;
    
}

.marks{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.xmarkErrorNombre{
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 4px;
    border-radius: 10px;
}

.checkMarkNombre{
    color: rgb(255, 255, 255);
    background-color: green;
    padding: 4px;
    border-radius: 10px;
}



.ocultar{
    visibility: hidden;
}

.marks{
    position: relative;
    height: 15px;
    width: 20px;
    margin-right: 10px;
}



.fa-solid{
    position: absolute;
    top: 0px;
}






.contenedor {
    color:rgb(12, 25, 63);
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre celdas */
    width: 1000px;
    height: 300px;
    overflow-y: auto;
    padding: 50px;
    border: #214f6e;
    font-size: 19px;
}

.database-item_box {
    
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(206, 236, 255, 0.438);
    border-radius: 10px; /* Bordes de las celdas */
    padding: 20px; /* Espaciado interno */
    border: 1px rgb(22, 44, 103);
    transition: transform 0.3s;
    backdrop-filter: blur(10px); /* Efecto blur en el fondo */

}

.database-item_box:hover{
    transform: scale(1.09);
    cursor: pointer;
    background-color: #13297365;
    color: azure;
    border: solid 1.5px rgb(49, 73, 227);
}

.database-item_action{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    margin: 10px;
    gap: 11px;
}

.panelInp{
    display: flex;
    flex-direction: column;
    width: 800px;
}




.database-item_name{
    margin-bottom: 10px;

}


dotlottie-player{
    position: absolute;
}

.video-container {
    z-index: 1;
    position: absolute;
    transform: scaleX(-1); /* Voltea horizontalmente */
    overflow: hidden; /* Evita que el video se desborde */
}