* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/fondo_Login.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}

.Panel{
    position: relative;
    height: 370px;
    width: 300px;
}

#login-form {
    position: absolute;
    top: 40px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.296);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 310px;
}

.login-form h2 {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ffffff;
}

.icon{
    position: absolute;
    top: 0px;
    left: 110px;
    z-index: 2;
}

.icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.labelDiv{
    text-align: left;
}


.labelDiv label{
    color: #ffffff; 
}

input {
    margin-bottom: 20px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

input::placeholder {
    color: #ffffffd5;
}

button {
    background: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

small{
    color: #fff;
}

small {
    position: absolute;
    bottom: 0px;
}

a {
    color:#61a4ec;
}

.ocultar {
    display: none;
    visibility: hidden;
}